body{
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 17px;
	color: #555a4a;
    background: #a0c73f;
}

a:link, a:visited { 
color: blue; 
text-decoration: none; 
font-weight: normal; 
} 
a:active, a:hover { 
color: deeppink; 
text-decoration: underline;
}

#template_header_wrapper {
	width: 100%;
	height: 130px;
    background-color:#C63D0F;	
}

#template_header{
	position: relative;
	width:1200px;
	height:265px;		
	padding: 0 0px;
	margin: 0 auto;
}

#template_header #hub_title {
	float: left;
	width: 220px;
	padding:0px;
}

#hub_title h1 {
	margin-top:13px;
	margin-left:40px;
	padding:0px;
	
}

#hub_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#hub_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#hub_title h1 a span {
	display: block;
	margin-left:2px;
	font-size: 14px;
	color: #416902;
	font-weight:bold;
	letter-spacing:2px;
}
/*---menu----*/
#template_menu{
    text-align:center;
    margin-top:90px;
    margin-left:-215px;
	float: left;
	height: 43px;	
}

#template_menu ul{
	margin: 0px;
	padding: 0;
	list-style: none;	
}
#template_menu ul li {
	padding: 0;
	display:inline;
    margin:0px 0px;
}

#template_menu ul li a {
	float:left;
	display: block;
	width: 120px;
	height: 25px;
	text-align:center;
	font-size: 16px;
	text-decoration: none;
	color: #333333;	
	outline: none;
}

#template_menu li a:hover, #template_menu li a.current {
	color: #333333;
}

#template_menu li a:link,#template_menu li a:active,#template_menu li a:visited{
	background:#C63D0F;
	color:#fff;
}
/* end of menu */



.footer-hub{
	background-color:#C63D0F;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 45px 50px;
	margin-top: 80px;
}
.footer-hub .footer-left,
.footer-hub .footer-middle,
.footer-hub .footer-center,
.footer-hub .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-hub .footer-left{
	width: 25%;
}

/* The company logo */

.footer-hub h3{
	color:  #ffffff;
	font: normal 22px;
	margin: 0px;
}

/* Footer middle left */
.footer-hub .footer-middle{
	width: 25%;
}
/* This is is nav title */
.footer-hub h3{
	color:  #ffffff;
	
	margin: 0;
}
.footer-hub h3 span{
	color:  #5383d3;
}

/* Footer links */
.footer-hub .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-hub .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

/* Footer Center */
.footer-hub .footer-center{
	width: 25%;
}

.footer-hub .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-hub .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-hub .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-hub .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-hub .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */
.footer-hub .footer-right{
	width: 23%;
}

.footer-hub .footer-social{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-hub .footer-social span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-hub .footer-icons{
	margin-top: 25px;
}

.footer-hub .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-hub .footer-company-name{
	color:  #8f9296;
	font-size: 16px;
	font-weight: normal;
	text-align:center;
	margin: 0;
}

.footer-hub .footer-company-name a{
	text-decoration:none;
	color:gray;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-hub{
		font: bold 14px sans-serif;
	}

	.footer-hub .footer-left,
	.footer-hub .footer-middle,
	.footer-hub .footer-center,
	.footer-hub .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-hub .footer-center i{
		margin-left: 0;
	}

}