body{
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 17px;
	color: #555a4a;
    background: #a0c73f;
}

a:link, a:visited { 
color: blue; 
text-decoration: none; 
font-weight: normal; 
} 
a:active, a:hover { 
color: deeppink; 
text-decoration: underline;
}

#template_header_wrapper {
	width: 100%;
	height: 100px;
    background-color:#C63D0F;	
}

#template_header{
	position: relative;
	width:1200px;
	height:265px;		
	padding: 0 0px;
	margin: 0 auto;
}

/*---menu----*/
#template_menu1{
    text-align:right;
    margin-top:3px;
    margin-right:0px;
	float: right;
	padding-top:8px;
	height: 43px;	
}

#template_menu1 ul{
	margin: 0;
	padding: 0;
	list-style: none;	
}
#template_menu1 ul li {
	padding: 0;
	display:inline;
    margin:0px 0px;
}

#template_menu1 ul li a {
	float:left;
	display: block;
	height: 25px;
	padding:2px;
	width: 110px;
	text-align:right;
	font-size: 12px;
	text-decoration: none;
	color: #333333;	
	font-weight: bold;
	outline: none;
}

#template_menu1 li a:hover, #template_menu1 li a.current {
	color: #333333;
}

#template_menu1 li a:link,#template_menu1 li a:active,#template_menu1 li a:visited{
	background:#C63D0F;
	color:#fff;
}
/* end of menu1 */

#template_header #site_title {
	float: left;
	width: 220px;
	padding:0px;
}

#site_title h1 {
	margin-top:53px;
	padding:0px;
}

#site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#site_title h1 a span {
	display: block;
	margin-left: 2px;
	font-size: 14px;
	color: #416902;
	font-weight:bold;
	letter-spacing:2px;
}

/* end of site title */

#search_box {
	position: absolute;
	width: 765px;
	height: 195px;
	bottom: 22px;
	left: 150px;
}

#search_box input{
	background-color:#FFFFFF;
		
}
#search_box form {
	width: 280px;
	height: 20px;
	margin: 0;
	padding: 10px 0 0 0;
}

#searchfield {
	height: 35px;
	width: 900px;
	padding: 4px 5px 0px 10px;
	color:black;
	font-size: 18px;
	font-variant: normal;
	line-height: normal;
	background: none;
	border: none;	
}
/* end of search */
#cart_button{
	position:absolute;
	right:18px;
	bottom:13px;
	width:110px;
	height:195px;
}
#cart_button button{
	background-color:#C63D0F;
	font-size:25px;
	font-family:narrower;
	font-style:bold;
}

#template_header_wrapper1 {
	width: 100%;
	height: 55px;
    background-color:#C63D0F;	
}

#template_header1{
	position: relative;
	width: 1200px;		
	padding: 10px;
	margin: 0 auto;
}

/*---menu2----*/
#template_menu2{
    text-align:center;
    margin-top:3px;
    margin-left:170px;
	float: left;
	padding-top:0px;
	height: 43px;	
}

#template_menu2 ul{
	margin: 0;
	padding: 0;
	list-style: none;	
}
#template_menu2 ul li {
	padding: 0;
	display:inline;
    margin:0px 0px;
}

#template_menu2 ul li a {
	float:left;
	display: block;
	width: 120px;
	height: 25px;
	text-align:center;
	font-size: 16px;
	text-decoration: none;
	color: #333333;	
	outline: none;
}

#template_menu2 li a:hover, #template_menu2 li a.current {
	color: #333333;
}

#template_menu2 li a:link,#template_menu2 li a:active,#template_menu2 li a:visited{
	background:#C63D0F;
	color:#fff;
}
/* end of menu2 */


/* content */

#template_content_wrapper {
	width: 920px;
	height:500px;
	margin: 0 auto;
	padding: 30px 40px;
	background-color:white;
}

/* footer */

#template_footer {
	width: 100%;
	margin: 0 auto;
	padding: 30px 10px;
	text-align: center;
	color: #333333;
	background-color:#C63D0F;
}

#template_footer a {
	color: #000000;
}

#template_footer .footer_menu {
	margin: 0 0 10px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px;
	display: inline;
	border-right: 1px solid #000000;
}

.footer_menu .last_menu {
	border: none;
}